.signup{
  color: white;
}
.sign{
  background-color: #23293B;
}
.signUp{
  background: skyblue;
}
.field{
  margin: 2%;
}
.earthsky{
  display: block;
  margin-left: auto;
 margin-right: auto;
 width: 100%;
 margin-top: 5%;
}